<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1> LIST OF ALL YOUR LOGS </h1>

        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <p class="flashes">
                        {% for message in messages %}
                            <p> {{message}} </p>
                        {% endfor %}
                    </p>     
                {% endif %}
            {% endwith %}
      
        </div>
        <h2>
            <a href="/create_log/{{tracker_id}}"> Create a log </a>
        </h2>
        {% if logs %}
            <img src='data:image/png;base64,{{data}}'>
        {% endif %}
        

        {% for log in logs %}
            <div>
                <div>
                    Note: {{ log.note }}
                </div>
                <div>
                    Value: {{ log.value }}
                </div>
                <div>
                    Timestamp: {{ log.timestamp}}                    
                </div>
                <a href="/delete_log/{{tracker_id}}/{{log.id}}"> Delete log </a>
                <a href="/edit_log/{{log.id}}"> Edit log </a>
            </div>
        {% endfor %}
    </body>
</html>